@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--white: #ffffff;
	--green: #34c759;
	--blue: #007aff;
	--red: #ff3b30;
}

* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	margin: 0;
	user-select: none;
	-webkit-user-select: none;
}

a,
button {
	display: inline-block;
	all: unset;
	box-sizing: border-box;
}
